@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container{
    background-color:#86d2f2;
    height:100vh;
}
h1{
    color:#1f1d41;
    font-weight: bold;
    font-size:45px;
}
.button{
    width:80px;
    height: 40px;
    border-width:0px;
    border-radius: 10px;
    background-color:#1f1d41;
    color:#ffffff;
    font-size: 16px; 
    margin-top: 20px;
}
.Traffic-bg{
    background-color:#1f1d41;
    width:100px;
    height:300px;
    border-radius: 25px;
    margin-left:20px;
    padding:20px;
}
.Traffic-light-blow{
    background-color: #4b5069;
    border-radius:50px;
    width:50px;
    height:50px;
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5px;
    
}