@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-cont{
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);
    padding: 12px;

}
.main-heading {
    font-size: 42px;
    font-weight: bold;
    color: #690cb0;
}

.main-para {
    margin-top: 16px;
    font-weight: bold;
    color: #3e4c59;
}

.image {
    height: 60px;
}

.timer-display{
    font-size: 46px;
    font-weight: 600;
    color: #3e4c59;
    margin-left: 20px;
}

.timer-span{
    font-size: 20px;
    font-weight: 600;
    color: #3e4c59;
}

.inner-cont{
    background-image: linear-gradient(to right, #f2ebfe, #f2ebfe);
    width: 80vw;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #9aa5b1;
    padding: 20px;
}


.quote-para {
    font-size: 16px;
    font-weight: 600;
    color: #3e4c59;
}

.quote-textarea {
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #3e4c59;
    margin-top: 12px;
    height: 20vh;
    width: 66vw;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #9aa5b1;
}

.reset-button {
    color: #323f4b;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    width: 70px;
    height: 36px;
    margin-left: 16px;
}

.submit-button {
    color: #ffffff;
    background-color: #690cb0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    width: 70px;
    height: 36px;
}